@model trabalhoIntegrado22015.Models.Doador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doador</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDoSangue.tipoDeSangue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDoSangue.tipoDeSangue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDoador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDoador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<fieldset>

    <legend>Exames feitos por este doador</legend>
    <ul>

        @*@foreach (var exame in Model.Exames)
        {


            <li>@exame.nomeExame</li>
            <li>@exame.metodoExame</li>

        }*@

        <li>Falta ajustar</li>
        <li>Falta ajustar</li>
        <li>Falta ajustar</li>

    </ul>
</fieldset>



<p>
   
    @Html.ActionLink("Voltar para lista", "Index")
</p>
