@model trabalhoIntegrado22015.Models.Doador

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes do doador CSU_004-MANTER CADASTRO DE PESSOAS</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoSangue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSangue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDoador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDoador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<fieldset>

    <legend>Bolsas de sangue coletadas deste doador</legend>
    <ul>


        @Html.ActionLink("Gerenciar bolsas", "Index", new { controller = "Bolsa" })  |||
        @Html.ActionLink("Cadastrar nova coleta", "Create", new { id = Model.idDoador, controller = "Bolsa" })



        
         @foreach (var bolsa in Model.BolsasDeSangue)
        {


            <li>@bolsa.codBarrasBolsa @bolsa.dataColeta</li>


        }
        

        

    </ul>
</fieldset>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDoador }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
