@model trabalhoIntegrado22015.Models.Exame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Deseja deletar este cadastro?</h3>
<div>
    <h4>Exame</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodoExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodoExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
