<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Puc Minas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                                   
                   
                    <li>@Html.ActionLink("Pesquisar Bolsas", "Pesquisa", "PesquisarBolsa")</li>
                   
                    

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Unidades <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Hospital", "Index", "Hospital")</li>
                            <li>@Html.ActionLink("Uct", "Index", "Uct")</li>
                            <li>@Html.ActionLink("Laboratorio", "Index", "Laboratorio")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Pessoas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Funcionario", "Index", "Funcionario")</li>
                            <li>@Html.ActionLink("Medico", "Index", "Medico")</li>
                            <li>@Html.ActionLink("Doador", "Index", "Doador")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Controle <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Exame", "Index", "Exame")</li>
                            <li>@Html.ActionLink("Transferencia", "Pesquisa", "PesquisarBolsaParaTransferir")</li>
                             
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Funções <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Agendamento", "Index", "Agendamento")</li>
                            <li>@Html.ActionLink("Procedimento", "Index", "Procedimento")</li>
                            <li>@Html.ActionLink("Campanha", "Index", "Campanha")</li>
                            <li>@Html.ActionLink("Pesquisar exames", "Pesquisa", "Pesquisar")</li>
                            <li>@Html.ActionLink("Questionario", "Create", "Questionario")</li>
                            
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Coleta <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastrar coleta", "Pesquisa", "PesquisarDoadorParaColeta")</li>
                           

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Agendamento online", "Create", "PreAgendamento")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema em desenvolvimento >> Anderson, Gleidson, Ricardo, Wendell</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
