@model trabalhoIntegrado22015.Models.Uct

@{
    ViewBag.Title = "Visualizar dados da UCT";
}

<h2>Visualizar dados da UCT</h2>

<div>
    
	
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricaoUct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricaoUct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFundacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFundacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar cadastro ", "Edit", new { id = Model.idUct }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
