@model trabalhoIntegrado22015.Models.Campanha

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar campanha de doação</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true)

       



        <div class="form-group">
            @Html.LabelFor(model => model.idUct, "Nome da UCT", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUct", String.Empty)
                @Html.ValidationMessageFor(model => model.idUct)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nomeCampanha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeCampanha)
                @Html.ValidationMessageFor(model => model.nomeCampanha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataCampanhaInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataCampanhaInicio)
                @Html.ValidationMessageFor(model => model.dataCampanhaInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataCampanhaFinal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataCampanhaFinal)
                @Html.ValidationMessageFor(model => model.dataCampanhaFinal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoCampanha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipoCampanha)
                @Html.ValidationMessageFor(model => model.tipoCampanha)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-large" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
